/target
.DS_Store
*.toml.local
numcp.toml

# handoff-begin
.ctx/*
!.ctx/HANDOFF.*.yaml
.ctx/HANDOFF.*.state.yaml
# handoff-end

# handoff-begin
.ctx/*
!.ctx/HANDOFF.*.yaml
.ctx/HANDOFF.godmode.*.yaml
.ctx/HANDOFF.*.state.json
!.ctx/handoff.*.config.toml.example
.ctx/HANDOFF.*.*.state.json
.ctx/HANDOFF.hj.hj.state.json
.ctx/.initialized
# handoff-end
